<!DOCTYPE html>
<html>
<head>
    <title>Telemetry Dashboard</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>

<h2>Telemetry</h2>

Temperature: <span id="temp"></span><br>
Humidity: <span id="hum"></span><br>

Latitude: <span id="lat"></span><br>
Longitude: <span id="lon"></span><br>

Pitch: <span id="pitch"></span><br>
Roll: <span id="roll"></span><br>
Yaw: <span id="yaw"></span><br>

<script>
const socket = io();

// List mapping according to get_sensor_data():
// [Lat, Lon, Sc, Auxvoltage, Auxcurrent, Motorvoltage, Motorcurrent,
//  xaccel, yaccel, zaccel, xmag, ymag, zmag, P, R, Y, temp, Hum]

socket.on("telemetry", data => {
    document.getElementById("lat").innerText = data[0];
    document.getElementById("lon").innerText = data[1];

    document.getElementById("pitch").innerText = data[13];
    document.getElementById("roll").innerText = data[14];
    document.getElementById("yaw").innerText = data[15];

    document.getElementById("temp").innerText = data[16];
    document.getElementById("hum").innerText = data[17];
});
</script>

</body>
</html>